<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Imaginez que vous vous trouviez dans une briqueterie en train de fabriquer des briques. Vous disposez d'un certain nombre de fours <code>k</code> et d'un certain nombre d'entrepôts <code>s</code>. Vous souhaitez relier chaque four à chaque entrepôt en réduisant au minimum le nombre d'intersections de voies. Notez qu'il n'est pas nécessaire que les voies soient droites<i>(schéma 1</i>).
</p>

<p style="text-align: justify;">
    Une autre variante de ce problème consiste à trouver le nombre minimum d'intersections tout en reliant chaque élément à tous les autres dans la séquence <code>k</code> <i>(schéma 2</i>).
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}brick-factory.svg" alt="example" style="max-height: 250px"/>
</p>

<p style="text-align: justify;">
    Votre fonction doit retourner le nombre minimum d'intersections dans la variante 1 (deux arguments) ou la variante 2 (un argument), selon le nombre d'arguments donnés.
</p>

<p style="text-align: justify;">
    Voici une vidéo avec une explication plus large des problèmes, des exemples, des schémas et des formules 😉. Notez que les formules ne sont pas encore totalement prouvées et qu'il s'agit peut-être de votre prochaine étude personnelle!
</p>

<p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xBfAYxxRsjY?si=jFKCKBc7CUh1cN-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux ou un entier <span>({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
   <strong>Sortie:</strong> Entier. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
