<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Imagine you are at the brick factory making bricks. You have a number of kilns <code>k</code> and a number of storages <code>s</code>. And you want to connect every kiln with every storage with the minimum possible number of tracks intersections. Notice, that it's not necessary for tracks to be straight (<i>scheme 1</i>).
</p>

<p style="text-align: justify;">
    Another variant of this problem is to find the minimum number of intersections while connecting every element with all others in <code>k</code> sequence (<i>scheme 2</i>).
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}brick-factory.svg" alt="example" style="max-height: 250px"/>
</p>

<p style="text-align: justify;">
    Your function must return the minimum number of intersections in the variant 1 (two arguments) or variant 2 (one argument), depending of the number of given arguments.
</p>

<p style="text-align: justify;">
    Here is a video with wider explanation of the problems, examples, schemes and formulas 😉. Notice, that the formulas are not fully proven yet and it may be your next own study!
</p>

<p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xBfAYxxRsjY?si=jFKCKBc7CUh1cN-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two or one integer <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>
</p>

<p>
    <strong>Output:</strong> Integer. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
